<% layout("/layouts/boilerplates") %>
<div class="row mt-3">
    <h1>Log_in</h1>
    <div class="col-6 offset-3">
        <form action="/login" method="POST" class="needs-validation" novalidate>
          <div class="form-group">
            <label for="username">UserName</label>
            <input type="text"  
            class="form-control" 
            id="username" 
            name="username" 
            required placeholder="Enter UserName">
            
        </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password"  
                class="form-control" 
                id="password" 
                name="password" 
                required placeholder="Enter Password">
          
            </div>
            <button class="btn btn-success">Log-in</button>
        </form>
    </div>
</div>